* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
}

#container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#start-screen {
	display: flex;
	flex-direction: column;
	width: 90%;
}

#start-screen div {
	display: flex;
	justify-content: space-around;
}

#start-screen div div {
	display: flex;
	flex-direction: column;
}

#start {
	margin-top: 40px;
	align-self: center;
}

#game-area{
	display: none;
}

#board {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#message-display {
	display: none;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.space {
	width: 50px;
	height: 50px;
	border: 3px solid lightgray;
	margin: 10px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 90%;
}